<?xml version="1.0"?>
<config>
    <modules>
        <KL_Catalog>
            <version>0.1.0</version>
        </KL_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>KL_Catalog_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>